[tool.black]
line-length = 100
target-version = ['py312']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.docformatter]
wrap-summaries = 100
wrap-descriptions = 100
in-place = true

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 100

[tool.pytest.ini_options]
addopts = "--ignore-glob='*@neomake*' --ignore-glob='*__main__.py'  --doctest-modules --doctest-glob='*.md' --doctest-glob='*.rst'"
testpaths = [
    "src",
    "test",
    "doc",
]

[tool.mypy]
check_untyped_defs = true
ignore_missing_imports = true
mypy_path = '$MYPY_CONFIG_FILE_DIR/src/'
show_error_codes = true
exclude = 'conftest.py'
